<div id="artikel5" class="content">
  <div class="inner">
    <div class="content-section">
      <h1>Susunan Kepanitiaan Jelajah Hutan 2025</h1>
      <p style="text-align: center;">Berikut susunan panitia Jelajah Hutan 2025 berdasarkan divisi masing-masing 🌿</p>

      <div class="divisi">
        <h2>Ketua Panitia</h2>
        <div class="koordinator">
          <div class="item">
            <img src="FotoPanitia/poto panitia  - Arif Maulana.jpg" alt="Ketua">
            <h4>Ketua</h4>
            <p>Ahmad Arif Maulana</p>
          </div>
        </div>
      </div>

      <!-- Tambahkan divisi lainnya -->
      <div class="divisi">
        <h2>Sekretaris</h2>
        <div class="koordinator">
          <div class="item">
            <img src="FotoPanitia/1761398390672 - Hardian bima.JPG" alt="Sekretaris I">
            <h4>Sekretaris I</h4>
            <p>Moch Hardian Bima</p>
          </div>
        </div>
        <div class="anggota">
          <div class="item">
            <img src="FotoPanitia/Poto pitrii - FITRIANI ANI.JPG" alt="Sekretaris II">
            <h4>Sekretaris II</h4>
            <p>Fitriani</p>
          </div>
        </div>
      </div>

    </div>
    <button class="back-btn" onclick="closeArticle()">⬅ Kembali</button>
  </div>
</div>