<footer>
  <div>©2025 Jelajah Hutan 🌿 | Cinta Alam, Lestarikan Hutan.</div>
  <div class="social-row">
    <a href="https://wa.me/6281378347148" target="_blank" title="WhatsApp"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="https://www.instagram.com/jelajah_hutan25/" target="_blank" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
    <a href="mailto:jelajahhutanfahutan@gmail.com" target="_blank" title="Email"><i class="fa-solid fa-envelope"></i></a>
    <a href="#" id="shareWebsiteBtn" title="Bagikan"><i class="fa-solid fa-share-from-square"></i></a>
  </div>
</footer>